# Database
MONGODB_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority

# Google Cloud Platform
GCP_PROJECT_ID=
GCP_CLIENT_EMAIL=
GCP_PRIVATE_KEY=
GCS_BUCKET_NAME=

# Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

# AI Services (Optional)
OPENAI_API_KEY=
REPLICATE_API_TOKEN=
ELEVENLABS_API_KEY=

# Security
ENCRYPTION_KEY=
